.body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  text-align: center;
  margin: 20px 0;
}
.subTitle{
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

@media (min-width:768px) {
  .subTitle{
    max-width: 490px;
  }
}