.body{
  display: flex;
  flex-direction: column;
}
a{
  color: white;
  text-decoration: none;
}
.backNav{
  width: 100%;
  padding-left: 10px;
  display: flex;
}
.backNav p{
  font-size: 16px;
  margin-left: 10px;
}
.icon{
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title{
  margin: 30px 0;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}
