@import url('https://fonts.cdnfonts.com/css/blanka');

.body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body .title{
    font-family: 'Blanka', sans-serif;
    font-size: 85px;
    margin-bottom: 25px;
    text-align: center;
}
.body img{
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}
.body .titleSmall{
    font-size: 20px;
    font-weight: 200;
}
.body .text{
    color: rgb(175, 175, 175);
    font-size: 10px;
    text-align: center;
    margin: 20px 0 30px;
    max-width: 350px;
}
.button{
    width: 100%;
    max-width: 290px;
}
.button div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CF7CDD;
    padding: 0 20px;
    border-radius: 20px;
    height: 30px;
}
.button a{
    color: black;
    font-weight: 600;
    font-size: 10px;
}
@media (min-width:768px) {
    .body{
        align-items: start;
        background-image: url('../../../assets/3-removebg-preview.png');
        background-position: 319px 31px;
        background-size: 500px;
        background-repeat: no-repeat;
        height: 80vh;
    }
    .body .title{
        margin: 50px 0 10px;
    }
    .body .text{
        text-align: start;
        width: 47%;
    }
    .button{
        width: 30%;
    }
}