.container{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding: 100px 20px 0 20px;
    /* overflow-x: hidden; */
}

@media (min-width:768px) {
    .container{
        padding-inline: 60px;
    }
}