.container{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding: 100px 20px 0 20px;  
}
/* .backgroundQuienesSomos{
    background: archivo posicion tamaño repeat clip;
    background: url('../../../assets/1-removebg.png') 225% 90%/350px no-repeat border-box;
}

@media (min-width:425px) and (max-width:768px){
    .backgroundQuienesSomos{
        background: url('../../../assets/1-removebg.png') 230% 90%/350px no-repeat border-box;
    }
} */
@media (min-width:768px) {
    .container{
        padding-inline: 60px;
    }
    /* .backgroundQuienesSomos{
            background: archivo posicion tamaño repeat clip;
        background: url('../../../assets/bg2.png') 109% 104%/485px no-repeat border-box;

    } */
    .backgroundHome{
        /* background: archivo posicion tamaño repeat clip; */
        background: url('../../../assets/background.png') 105% 0%/515px no-repeat border-box;
    }
}