.body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-md);
    text-align: center;
    margin-bottom: 30px;
}
.redirectRegistro{
    display: inline-flex;
    justify-content: center;
}
.redirectRegistro a{
    color: var(--primary-color);
    margin-left: 5px;
}