.body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  margin: 20px 0;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}
.subTitle{
  color: var(--secondary-color);
  text-align: center;
  width: 90%;
  max-width: 370px;
  font-size: var(--font-size-sm);
}
.grid, .gridAdmin{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
  margin-top: 25px;
}

.grid a, .gridAdmin a{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid a:last-child{
  grid-column: span 2;
}
.button{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
}
.textButton{
  margin-top: 10px;
  color: var(--primary-color);
}
.button *, .lastButton *{
  width: 50px;
  color: var(--primary-color);
}

@media (min-width:768px) {
  .body{
    margin-top: 70px;
  }
  .title{
    font-weight: var(--font-weight-sm);
    margin-bottom: 20px;
  }
  .subTitle{
    width: 60%;
    font-size: var(--font-size-sm);
  }
  .grid{
    margin-top: 70px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .gridAdmin{
    margin-top: 70px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .grid a:last-child, .gridAdmin a:last-child{
    grid-column: span 1;
  }
  .button{
    width: 80px;
    height: 80px;
  }
  .button *{
    width: 60px;
  }
  .buttonCenter{
    grid-column: 5;
  }
}