.boton{
    display: none;
}

@media (min-width:768px) {
.boton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 2.5rem;
    padding: 0 2rem;
    border-radius: 2rem;
    background-color: #CF7CDD;
    color: black;
    font-size: small;
    font-weight: 400;
}

}