  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');
:root{
  --primary-color: #b240d5;
  --secondary-color: #8d8d8d;
  --font-size-lg: 40px;
  --font-size-md: 25px;
  --font-size-sm: 12px;
  --font-weight-lg: 800;
  --font-weight-md: 600;
  --font-weight-sm: 400;
  --font-weight-xs: 200;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    color: white;
    font-size: small;
    font-family: 'Montserrat', sans-serif;
}