.body{
  display: flex;
  flex-direction: column;
}
/* .hrefIcon{
  position: relative;
  display: flex;
  text-decoration: none;
  justify-content: end;
}
.containerIcon{
  position: fixed;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  background-color: black;
}
.icon{
  width: 50px;
  color: var(--primary-color);
} */
.title{
  margin: 30px 0 15px;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}
.nuevoProy{
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 20px;
}
/* @media (min-width:768px) {
  .hrefIcon{
    justify-content: start;
  }
} */
