.body{
  display: flex;
  flex-direction: column;
}
.title{
  margin: 30px 0 15px;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}
.nuevoProy{
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 20px;
}
/* @media (min-width:768px) {
  .hrefIcon{
    justify-content: start;
  }
} */
