.container{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 100px 20px 0 20px;  
    height: auto;
}
@media (min-width:768px) {
    .container{
        padding-inline: 60px;
        /* background: archivo posicion tamaño repeat clip; */
        background: url(/assets/background-complete.png) top center/925px no-repeat border-box;
    }
}