.container{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 100px 20px 0 20px;  
    min-height: 100vh;
    justify-content: center;
}
@media (min-width:768px) {
    .container{
        padding-inline: 60px;
        background: url(/assets/background.png) 0% 0%/1330px no-repeat border-box;
    }
}