@import url('https://fonts.cdnfonts.com/css/blanka');

.body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body .title{
    font-family: 'Blanka', sans-serif;
    font-size: 85px;
    margin-bottom: 25px;
    text-align: center;
}
.body img{
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}
.body .titleSmall{
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-xs);
}
.body .text{
    color: var(--secondary-color);
    font-size: var(--font-size-sm);
    text-align: center;
    margin: 20px 0;
    max-width: 350px;
}
.button{
    width: 100%;
    max-width: 290px;
}
.button div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 0 20px;
    border-radius: 20px;
    height: 30px;
}
.button a{
    color: black;
    font-weight: var(--font-weight-md);
    font-size: var(--font-size-sm);
}
@media (min-width:768px) {
    .body{
        align-items: start;
        height: 80vh;
    }
    .body .title{
        margin: 50px 0 10px;
    }
    .body .text{
        text-align: start;
        width: 47%;
    }
    .button{
        width: 30%;
    }
}