.nav{
    width: 100vw;
    height: 15%;
    background-color: black;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 2;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;
    top: 0;
}
img{
    width: 4rem;
    height: 4rem;
}
.menuMobile{
    width: 3rem;
    height: 3rem;
    border: 1px solid #CF7CDD;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuMobileIcon {
    width: 2rem;
    height: 2rem;
    color: #CF7CDD;
}

.list{
    display: none;
}

.listItem{
    margin: 0 0.5rem;
    list-style: none;
}

.listItem a{
    text-decoration: none;
}

.navLink{
    color:white;
}

.navLinkActive, .violetLink{
    color:#CF7CDD;
}


@media (min-width:768px) {
    .list{
        display: flex;
        flex-direction: row;
    }
    .menuMobile{
        display: none;
    }
}